.header {
  color: $col-white;
  left: 0;
  min-width: $body-width-min;
  position: fixed;
  text-align: center;
  top: 20px;
  z-index: $z-header;

  &:hover {
    color: $col-blue-dark;
  }

  &__title,
  &__subtitle {
    margin: 0;
    padding: 0;
  }

  &__title {
    font: normal 36px / 36px $font-medium;
  }

  &__subtitle {
    font: normal 13px / 13px $font-light;
    text-transform: uppercase;
  }
}

.map {
  &--collapsed,
  &--placed {
    .header {
      &:hover {
        color: $col-blue-light;
      }
    }
  }

  &--media-open {
    .header {
      &__title,
      &__subtitle {
        text-shadow: 0 0 2px rgba($col-black, .75);
      }
    }
  }
}
