.wrap {
  height: 200%;
  left: 0;
  min-width: $body-width-min;
  position: fixed;
  top: 0;
  transition: top $transition-timing-dramatic $transition-function-dramatic;
  width: 100%;
  z-index: $z-map;
}

.page {
  @include clearfix;
  background: $col-black;
  color: $col-white;
  height: 50%;
  left: 0;
  margin: 0 auto;
  min-width: $body-width-min;
  overflow-y: auto;
  padding: 150px 0;
  padding-bottom: calc(20% + 60px);
  position: absolute;
  top: 50%;
  width: 100%;

  img {
    max-width: 100%;
  }

  a {
    background-image: linear-gradient(to right, currentColor 0%, currentColor 100%);
    background-position: 0 96%;
    background-repeat: repeat-x;
    background-size: 100% 1px;
    color: $col-blue-light;
    text-decoration: none;
    text-shadow: 3px 0 0 $col-black, -3px 0 0 $col-black;

    &:hover {
      color: $col-white;
    }
  }

  &__title {
    font-size: 120px;
    left: -3px;
    line-height: 1;
    margin: 0;
    position: absolute;
    text-transform: lowercase;
    top: -22px;
  }

  &__content {
    display: inline-block;
    float: left;
    margin: 0 5%;
    width: 60%;
  }

  &__img {
    display: inline-block;
    float: left;
    width: 30%;
  }
}

.map--collapsed {
  .wrap {
    top: -80%;
  }
}

@media (max-width: $break-small) {
  .page {
    &__content {
      float: none;
      margin: 0 5%;
      width: 90%;
    }

    &__img {
      float: none;
      margin: 20px 0;
      width: 100%;
    }
  }
}
