@import '../../styles/app/config';

.menu {
  background: $col-white;
  height: 100%;
  padding-top: 65px;
  position: fixed;
  right: -120px;
  top: 0;
  transition: right .4s $transition-function-dramatic;
  width: 120px;
  z-index: $z-menu;

  &__toggle {
    border: 2px solid $col-white;
    border-radius: 50%;
    cursor: pointer;
    height: 42px;
    left: -80px;
    overflow: hidden;
    position: absolute;
    top: 40px;
    width: 42px;

    &,
    &__icon {
      transition: all .4s $transition-function-dramatic;
    }

    &__icon {
      fill: $col-white;
      height: 24px;
      left: 7px;
      position: absolute;
      top: 7px;
      width: 24px;
    }

    &__close {
      left: 49px;
    }

    &:hover {
      border-color: $col-black;

      .menu__toggle__icon {
        fill: $col-black;
      }
    }
  }

  &__link {
    display: block;
    font-family: $font-medium, serif;
    height: 120px;
    line-height: 120px;
    text-align: center;
    width: 100%;

    &--on,
    &:hover {
      background: $col-blue-light;
      color: $col-white;
    }
  }

  &--open {
    right: 0;

    .menu__toggle {
      border-color: $col-black;
      left: 42px;
      top: 10px;

      &__icon {
        fill: $col-black;
      }

      &__menu {
        left: -47px;
      }

      &__close {
        left: 7px;
      }

      &:hover {
        background-color: $col-blue-light;
        border-color: $col-blue;

        .menu__toggle__icon {
          fill: $col-white;
        }
      }
    }
  }
}

.map--collapsed {
  .menu {
    &__toggle {

      &:hover {
        border-color: $col-blue-light;

        .menu__toggle__icon {
          fill: $col-blue-light;
        }
      }
    }

    &--open {
      .menu__toggle {

        &:hover {
          background-color: $col-blue-light;
          border-color: $col-blue;

          .menu__toggle__icon {
            fill: $col-white;
          }
        }
      }
    }
  }
}
