@import '../../styles/app/config';

.nav {
  bottom: 30px;
  left: 30px;
  position: fixed;
  transition: all $transition-timing-dramatic .3s $transition-function-dramatic;
  z-index: $z-nav;

  &__next,
  &__prev {
    border: 2px solid $col-white;
    bottom: 0;
    display: block;
    font-family: $font-medium;
    height: 40px;
    left: 0;
    line-height: 34px;
    position: absolute;
    text-align: center;
    transition: all $transition-timing $transition-function;
    width: 40px;
    z-index: 2;

    svg {
      height: 24px;
      width: 24px;
    }

    path {
      fill: $col-white;
    }

    &:hover {
      background: $col-blue-dark;
    }

    &:active {
      background: transparent;
    }
  }

  &__next {
    left: 60px;
  }
}

.map {
  &--media-open,
  &--collapsed {
    .nav {
      bottom: -50px;
      transition-delay: 0s;
    }
  }

  &--media-open {
    .nav {
      z-index: -1;
    }
  }

  &--placed {
    .nav {
      left: 30px + $place-width;
      transition-delay: 0s;
    }
  }
}

@media (max-width: $place-width * 2) {
  .map {
    &--placed {
      .nav {
        left: 350px;
      }
    }
  }
}

@media (max-width: $break-phone) {
  .map {
    &--placed {
      .nav {
        bottom: auto;
        height: 80px;
        left: auto;
        right: 0;
        top: 138px;
        width: 40px;

        &__prev {
          left: 0;
          top: 0;
        }

        &__next {
          left: 0;
          top: 38px;
        }
      }
    }
  }
}
