@import '../../styles/app/config';

.photos {
  background: $col-blue-dark;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  position: fixed;
  top: 100%;
  transition: top $transition-timing-dramatic $transition-function-dramatic;
  width: 100%;
  z-index: $z-photos;

  &__list {
    background: $col-white;
    margin: 0;
    padding: 0;
  }

  &__item {
    background: $col-white;
    margin: 0;
    max-width: (100 / 3) * 1%;
    padding: 4px;

    &--media {
      align-items: center;
      display: flex;
    }
  }

  &__img {
    display: block;
    width: 100%;
    // height: 100%;
  }

  &__close {
    border: 2px solid $col-white;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    fill: $col-white;
    height: 42px;
    line-height: 38px;
    position: fixed;
    right: -100px;
    text-align: center;
    top: 40px;
    transition: right $transition-timing $transition-function;
    width: 42px;
    z-index: $z-close;

    &:hover {
      border-color: $col-blue-light;
      fill: $col-blue-light;
    }

    svg {
      height: 24px;
      width: 24px;
    }
  }

  .instagram-media {
    margin-top: 80px !important;
    width: 428px !important;
  }
}

.map--media-open {
  .photos {
    top: 0;
    transition-delay: .6s;

    &__close {
      right: 38px;
      transition-delay: .6s;
    }
  }
}

// @media (max-width: $place-width * 2) {
//   .photos {
//     left: $body-width-min;
//     width: calc(100% - #{$body-width-min});
//   }
// }
