@import '../../styles/app/config';

.photos {
  background: $col-blue-dark;
  height: 100%;
  left: 0;
  overflow-y: scroll;
  padding-bottom: 100px;
  position: fixed;
  top: 100%;
  transition: top $transition-timing-dramatic $transition-function-dramatic;
  width: 100%;
  z-index: $z-photos;

  &__list {
    background: $col-white;
    margin: 0;
    padding: 0;
  }

  &__link {
    background: $col-white;
    display: block;
    padding: 4px;

    &:hover {
      background: $col-blue-dark;
    }
  }

  &__item {
    background: none;
    margin: 0;
    max-width: (100 / 3) * 1%;
    padding: 0;

    &:hover {
      z-index: 10;
    }

    &__full {
      max-width: 100%;
    }

    &--media {
      align-items: center;
      background: $col-white;
      display: flex;
      padding: 4px;
    }
  }

  &__img {
    display: block;
    width: 100%;
    // height: 100%;
  }

  &__close {
    border: 2px solid $col-white;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    fill: $col-white;
    height: 42px;
    line-height: 38px;
    position: fixed;
    right: -100px;
    text-align: center;
    top: 30px;
    transition: right $transition-timing $transition-function;
    width: 42px;
    z-index: $z-close;

    &:hover {
      border-color: $col-blue-light;
      fill: $col-blue-light;
    }

    svg {
      height: 24px;
      width: 24px;
    }
  }

  .instagram-media {
    width: 428px !important;
  }
}

.map--media-open {
  .photos {
    top: 100px;
    transition-delay: .6s;

    &__close {
      right: 38px;
      transition-delay: .6s;
    }
  }
}

@media (max-width: $break-laptop) {
  .photos {
    &__item {
      max-width: 50%;
    }
  }
}

@media (max-width: $break-small) {
  .photos {
    &__item {
      max-width: 100%;
    }
  }
}
