@import '../../styles/app/config';

.photos {
  background: $col-blue-dark;
  height: 554px;
  left: 0;
  overflow-x: scroll;
  position: fixed;
  top: 100%;
  transition: top $transition-timing-dramatic $transition-function-dramatic;
  width: 100%;
  z-index: $z-photos;

  &__list {
    margin: 0;
    padding: 0 10px;
    white-space: nowrap;
    width: 60000px;
  }

  &__item {
    background: $col-black;
    float: left;
    height: 534px;
    margin: 10px 10px 10px 0;
    padding: 0;

    &--media {
      align-items: center;
      display: flex;
    }
  }

  &__img {
    height: 100%;
  }

  &__close {
    border: 2px solid $col-white;
    cursor: pointer;
    display: block;
    fill: $col-white;
    height: 40px;
    line-height: 36px;
    position: fixed;
    right: 20px;
    text-align: center;
    top: 120px;
    width: 40px;

    &:hover {
      border-color: $col-blue-light;
      fill: $col-blue-light;
    }

    svg {
      height: 24px;
      width: 24px;
    }
  }

  .instagram-media {
    width: 428px !important;
  }
}

.map--placed .place-wrap--photos {
  .photos {
    top: 100px;
    transition-delay: .6s;
  }
}

// @media (max-width: $place-width * 2) {
//   .photos {
//     left: $body-width-min;
//     width: calc(100% - #{$body-width-min});
//   }
// }
