// Clearfix
// --------
// For clearing floats like a boss h5bp.com/q
@mixin clearfix() {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
@mixin text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// Triangles
// http://apps.eky.hk/css-triangle-generator/
@mixin triangle() {
  border-style: solid;
  content: ' ';
  display: block;
  height: 0;
  position: absolute;
  width: 0;
}

@mixin font-face($font) {
  @font-face {
    font-family: $font;
    src: url('/fonts/#{$font}.eot');
    src: url('/fonts/#{$font}.eot?#iefix') format('embedded-opentype'),
         url('/fonts/#{$font}.woff2') format('woff2'),
         url('/fonts/#{$font}.woff') format('woff'),
         url('/fonts/#{$font}.ttf') format('truetype'),
         url('/fonts/#{$font}.svg##{$font}') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
